%h1
  Welcome to our first page
%ul
  %li
    =link_to 'Sign up', signup_path
  %li
    =link_to image_tag 'http://www.worldnewsinn.com/wp-content/uploads/2011/07/angelina-jolie-2.jpg', :alt => 'Angelina jolie'

